/* inter-300 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  src: url("~/assets/fonts/inter-300.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("~/assets/fonts/inter-300.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("~/assets/fonts/inter-300.woff2") format("woff2"),
    /* Super Modern Browsers */ url("~/assets/fonts/inter-300.woff")
      format("woff"),
    /* Modern Browsers */ url("~/assets/fonts/inter-300.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("~/assets/fonts/inter-300.svg#Inter")
      format("svg"); /* Legacy iOS */
}
/* inter-400 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("~/assets/fonts/inter-400.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("~/assets/fonts/inter-400.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("~/assets/fonts/inter-400.woff2") format("woff2"),
    /* Super Modern Browsers */ url("~/assets/fonts/inter-400.woff")
      format("woff"),
    /* Modern Browsers */ url("~/assets/fonts/inter-400.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("~/assets/fonts/inter-400.svg#Inter")
      format("svg"); /* Legacy iOS */
}
/* inter-700 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("~/assets/fonts/inter-700.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("~/assets/fonts/inter-700.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("~/assets/fonts/inter-700.woff2") format("woff2"),
    /* Super Modern Browsers */ url("~/assets/fonts/inter-700.woff")
      format("woff"),
    /* Modern Browsers */ url("~/assets/fonts/inter-700.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("~/assets/fonts/inter-700.svg#Inter")
      format("svg"); /* Legacy iOS */
}

/* noto-sans-kr-300 - latin */
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 300;
  src: url("~/assets/fonts/noto-sans-kr-300.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("~/assets/fonts/noto-sans-kr-300.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("~/assets/fonts/noto-sans-kr-300.woff2") format("woff2"),
    /* Super Modern Browsers */ url("~/assets/fonts/noto-sans-kr-300.woff")
      format("woff"),
    /* Modern Browsers */ url("~/assets/fonts/noto-sans-kr-300.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("~/assets/fonts/noto-sans-kr-300.svg#NotoSansKR") format("svg"); /* Legacy iOS */
}
/* noto-sans-kr-400 - latin */
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  src: url("~/assets/fonts/noto-sans-kr-400.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("~/assets/fonts/noto-sans-kr-400.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("~/assets/fonts/noto-sans-kr-400.woff2") format("woff2"),
    /* Super Modern Browsers */ url("~/assets/fonts/noto-sans-kr-400.woff")
      format("woff"),
    /* Modern Browsers */ url("~/assets/fonts/noto-sans-kr-400.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("~/assets/fonts/noto-sans-kr-400.svg#NotoSansKR") format("svg"); /* Legacy iOS */
}
/* noto-sans-kr-700 - latin */
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 700;
  src: url("~/assets/fonts/noto-sans-kr-700.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("~/assets/fonts/noto-sans-kr-700.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("~/assets/fonts/noto-sans-kr-700.woff2") format("woff2"),
    /* Super Modern Browsers */ url("~/assets/fonts/noto-sans-kr-700.woff")
      format("woff"),
    /* Modern Browsers */ url("~/assets/fonts/noto-sans-kr-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("~/assets/fonts/noto-sans-kr-700.svg#NotoSansKR") format("svg"); /* Legacy iOS */
}
/* Spoqa Han Sans Neo-300 - light */
@font-face {
  font-family: "Spoqa Han Sans Neo";
  font-weight: 300;
  font-style: normal;
  /* font-display: swap; */
  src: url("~/assets/fonts/SpoqaHanSansNeo-Light.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("~/assets/fonts/SpoqaHanSansNeo-Light.woff2") format("woff2"),
    url("~/assets/fonts/SpoqaHanSansNeo-Light.woff") format("woff"),
    url("~/assets/fonts/SpoqaHanSansNeo-Light.ttf") format("truetype");
}
/* Spoqa Han Sans Neo-400 - latin */
@font-face {
  font-family: "Spoqa Han Sans Neo";
  font-weight: 400;
  font-style: normal;
  /* font-display: swap; */
  src: url("~/assets/fonts/SpoqaHanSansNeo-Regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("~/assets/fonts/SpoqaHanSansNeo-Regular.woff2") format("woff2"),
    url("~/assets/fonts/SpoqaHanSansNeo-Regular.woff") format("woff"),
    url("~/assets/fonts/SpoqaHanSansNeo-Regular.ttf") format("truetype");
}
/* Spoqa Han Sans Neo-500 - latin */
@font-face {
  font-family: "Spoqa Han Sans Neo";
  font-weight: 500;
  font-style: normal;
  /* font-display: swap; */
  src: url("~/assets/fonts/SpoqaHanSansNeo-Medium.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("~/assets/fonts/SpoqaHanSansNeo-Medium.woff2") format("woff2"),
    url("~/assets/fonts/SpoqaHanSansNeo-Medium.woff") format("woff"),
    url("~/assets/fonts/SpoqaHanSansNeo-Medium.ttf") format("truetype");
}
/* Spoqa Han Sans Neo-700 - latin */
@font-face {
  font-family: "Spoqa Han Sans Neo";
  font-weight: 700;
  font-style: normal;
  /* font-display: swap; */
  src: url("~/assets/fonts/SpoqaHanSansNeo-Bold.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("~/assets/fonts/SpoqaHanSansNeo-Bold.woff2") format("woff2"),
    url("~/assets/fonts/SpoqaHanSansNeo-Bold.woff") format("woff"),
    url("~/assets/fonts/SpoqaHanSansNeo-Bold.ttf") format("truetype");
}
